.main-app {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
    border: 2px solid lightgray;
    border-radius: 15px;
    width: 50%;
    font-family: Verdana;
    font-size: 14px;
}

.nav-app {
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: grey;
}

.active {
    color: blue;
    border-bottom: 2px solid blue;
}

.navLink {
    margin: 0 3rem;
    padding: 1rem;
}

.mainPersonalInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inputPersonalInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.inputPersonalInfo input, select {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 18rem;
}

.submitPersonalInfo {
    display: flex;
    justify-content: flex-end;
    padding: 0rem 2rem 1rem 0rem;
}

.submitPersonalInfo input {
    border-radius: 5px;
    color: white;
    background-color: blue;
    height: 2rem;
}

.leftSide .rightSide {
    display: flex;
    flex-direction: column;
}